<div class="container text-center">
  <h1 style="margin-top: 45px; margin-left: 66vh;">ARTICLES

  <%= link_to "Create an Article", new_article_path,
  class: "btn btn-primary text-center",
  style: "margin: 0vh 6vh 2vh 30vh;"
  %>

  </h1>

  <br>

  <% @articles.each do |article| %>
    <ul class="text-center" style="list-style-type: none;">
      <li style="padding: 20px;">
        <%= link_to article.title,
        article_path(article),
        style: "font-size: 24px;" %>
        <br>
        <br>
        <%= truncate article.content, length: 80, separator: /\w+/ %>
        <br>
      </li>
    </ul>
  <% end %>

</div>
